<!DOCTYPE HTML>
<html>
<head>
   <title>Questionnaire</title>
</head>
<h1 align ='center'>Questionnaire</h1><br>
<body background="/static/images/demo/bg-slide-02.jpg" bgcolor="#FFFFFF" text="#000000">
   <form action="" method="POST">
      Please enter your name: <input type="text" name="UserName" size=35 maxlength=50 value=""><br><br>
      Please enter your base salary: <input type="text" name="BaseSalary" size=15 maxlength=15 value="$"><br><br>

      <label for = "user_mobile" >What mobile phone do u use?</label>
      <input type="text" id = "user_mobile" name="mobile" />
      <br /><br>
      <label for = "user_social_status">Are u active on social media sites?</label>
      <input type="text" id = "user_social_status" name = "social_media" />
      <br /><br>
      <label for = "user__ecommerce_status">Do u visit ecommerce sites regularly to check new items?</label>
      <input type="text" id = "user__ecommerce_status" name = "ecommerce_sites" />
      <br /><br>
      <label for = "user_introvert_status">Do u like being center of attention?</label>
      <input type="text" id = "user_introvert_status" name = "introvert_status" />
   </form>
</body>
</html>